# discloud.config
NAME=Playarr
TYPE=site
# O MAIN não é estritamente necessário para Docker, mas é bom ter
# para indicar o ponto de entrada principal, que é a API.
MAIN=web-api/index.js
RAM=512
VERSION=latest
# ID é o subdomínio que você deseja usar (ex: playarr.discloud.app)
# Substitua 'seu-subdominio' pelo nome desejado.
ID=seu-subdominio
# O Discloud usará o Dockerfile para construir e iniciar a aplicação.
# Não é necessário definir BUILD ou START se o Dockerfile for usado.
